* {
    margin: 0;
    padding: 0;
}
.color-size {
    background: #ce17ff;
    border: 1px;
    border-radius: 10px;
}
.d-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.borderd {
    border: 2px solid gold;
    border-radius: 10px;
}
.container {
    width: 1000px;
    height: 650px;
    background: grey;
    margin: 0 auto;
}
.content {
    border: 2px solid gold;
    border-radius: 10px;
    width: 800px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}
.blocks {
    height: 150px;
    width: 150px;
}
.top {
}
.upper {
    height: 15px;
    width: 100px;
}
.txt {
    column-gap: 30px;
}
.bottom {
    width: 1000px;
    height: 300px;
    background: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;

}
.circle{
    height: 100px;
    width: 100px;
}
.wrap {
    height: 250px;
    width: 200px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
