*{
    margin: 0;
    padding: 0;
}

.c-darkb--border {
    border: 2px solid;
    border-radius: 10px;
    background: darkblue;
}
.d-flex--justify---center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.height-width--border {
    width: 100px;
    height: 100px;
    background: #ce17ff;
    border: 2px solid;
    border-radius: 10px;
}
.father {
    margin: 0 auto;
    background: white;
    width: 600px;
    height: auto;
    box-sizing: border-box;
}
.header {
    width: 600px;
    height: 100px;
    background: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.logo {
    display: flex;
    justify-content: flex-start;
    }
.image {
    height: 50px;
    width: 50px;
}
.search {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.look {
    height: 20px;
    width: 20px;
    border: 2px solid;
    border-radius: 10px;
    background: purple;
}
.wrap {
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.lines {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.things {
    height: 5px;
    width: 30px;
    border: 1px solid;
    border-radius: 10px;
    background: purple;
}
.top {
    flex-direction: column;
    height: 300px;
    width: 700px;
    background: darkblue;
    column-gap: 50px;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
}
.lines {
    height: 5px;
    width: 30px;
    background: #ce17ff;
}
.book {
    column-gap: 10px;
    margin-top: 10px;
}
.text {
    height: 50px;
    width: 200px;
    border: 2px solid yellow;
    background: white;
}
.wrap {
    column-gap: 70px;
}
.button {
    height: 20px;
    width: 100px;
    border: 2px solid green;
    background: gold;
    margin-top: 10px;
}
.middle {
    height: 1350px;
    background: grey;
    width: 700px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}
.middle-squares {
    margin-top: -20px;
    column-gap: 10px;
}
.middle-squares--numbers {
    margin-top: -35px;
}
.middle-inscription {
    padding-top: 35px;
}
.middle-proposal {
    width: 700px;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
}
.middle-description--block {
    display: flex;
    flex-wrap: wrap;
    column-gap: 90px;
    row-gap: 20px;
    margin-top: 20px;
}
.middle-proposal--images {
}
.middle-proposal--photos {
    width: 250px;
    height: 100px;
    background: #ce17ff;
    border: 2px solid;
    border-radius: 10px;
}
.middle-roll {
    flex-direction: column;
}
.middle-roll--description {
    margin-top: 20px;

}
.middle-roll-button {
    background: #ce17ff;
    border: 2px solid black;
    width: 60px;
    height: 10px;
    border-radius: 10px;
}
.middle-roll--arrows {
    margin-top: 20px;
    column-gap: 10px;

}
.middle-scroll {
    width: 150px;
    height: 100px;
    background: #ce17ff;
    border: 2px solid;
    border-radius: 10px;
}

.bottom-left {
   /*margin-right: 380px;*/
    margin-top: 50px;

}

.bottom-circle {
    width: 100px;
    height: 100px;
    background: #ce17ff;
    border: 2px solid;
    border-radius: 100px;
}
.middle-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 290px;
    column-gap: 10px;
}
.bottom-right {
    align-items: center;
    margin-top: 45px;
    }
.bottom-info {
    width: 50px;
    height: 10px;
    background: #ce17ff;
    border: 2px solid;
    border-radius: 100px;
}
.bottom-text {
    width: 100px;
    height: 50px;
    background: #ce17ff;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 10px;
}
.fotter {
    height: 100px;
    width: 700px;
    background: #ce17ff;
}
.fotter {
    flex-direction: column;
    row-gap: 10px;

}
.fotter-top {
    display: flex;
    column-gap: 20px;
}
.fotter-top--blocks {
    width: 40px;
    height: 5px;
    background: purple;
    border: 2px solid;
    border-radius: 10px;
}
.fotter-bottom {
    display: flex;
    column-gap: 20px;
}
.fotter-bottom--squares {
    width: 20px;
    height: 20px;
    background: purple;
    border: 2px solid;
    border-radius: 10px;
}